@import 'font.css';
* {
	margin: 0;
	padding: 0;
}
body, html {
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 4vw;
	color: #fff;
	height:100%;
	padding:0;
	margin:0;
}
a, a:focus, a:active {
	outline: none;
	text-decoration: none;
	color: #fff;
}
ul,li {
	list-style: none;
	margin: 0;
}
.wrapper {
	background: -o-radial-gradient(center,circle,#666,#000);
	background: radial-gradient(circle at center,#666,#000);

	height: -moz-calc(100% - 100px);
	height: -webkit-calc(100% - 100px);
	height: calc(100% - (20px + 30100));

	overflow: hidden;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* NAVIGATION */
.left-navigation {
	width: 280px;
	min-width: 280px;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	margin: 0;
	left: -320px;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	transition: left 0.3s;
	background: -o-radial-gradient(center,circle,#666,#000);
	background: radial-gradient(circle at center,#666,#000);
	z-index: 2000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left-navigation > ul {
	display: block;
	margin: 15px 0 0 20px;
	padding: 0;
	list-style: none;
}

.left-navigation > ul > li {
	margin-bottom: 40px;
}

.left-navigation > ul > li:last-child {
	margin-bottom: 0;
}

.left-navigation > ul > li > a {
	font-weight: bold;
	font-size: 20px;
}

.left-navigation.active {
	left: 0;
	overflow-y: auto;
}

.left-navigation .left-navigation-balance {
	background: radial-gradient(50% 743.88% at 50% 50%, #4D4D4D 0%, #000000 100%);
	border: 1px solid #2F2F2F;
	border-radius: 10px;
	font-weight: 500;
	font-size: 20px;
	text-align: center;
	padding: 13px;
	margin: 0 10px;
}

.left-navigation .left-navigation-balance .left-navigation-balance-amount {
	color: #7FFF00;
}

.left-navigation .left-navigation-balance .left-navigation-balance-currency {
	color: #747373;
	font-weight: 300;
}

.left-navigation .left-navigation-user {
	margin: 0 10px;
	display: flex;
	flex-direction: row;
	padding-bottom: 40px;
}

.left-navigation .left-navigation-user .left-navigation-user-logo {
	margin-right: 10px;
}

.left-navigation .left-navigation-user .left-navigation-user-logo img {
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

.left-navigation .left-navigation-user .left-navigation-user-full-name {
	font-size: 20px;
	font-weight: bold;
}

.left-navigation .left-navigation-user .left-navigation-username {
	color: #747373;
}

.mask-content {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	visibility: hidden;
	opacity: 0;
}

.left-navigation.active + .mask-content {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.5s, visibility 0.5s;
	transition: opacity 0.5s, visibility 0.5s;
}
/* END NAVIGATION */

/* DISCOVER */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 8px 0 10px 19px;
}
.discover-logo {
	margin-right: 21px;
}
.discover-logo img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.header-logo {
	font-size: 28px;
}
.header-logo:first-letter{
	color: #7fff00;
}
.discover-sub-title {
	font-size: 5.5vw;
	font-weight: bold;
	text-align: center;
}
.discover-people {
	margin: 10px 0 19px 0;
	padding: 0 8px;
}

.discover-people .discover-people-item .people-logo {
	width: 20vw;
	margin: 0 auto;
}

.discover-people .discover-people-item .people-logo img {
	width: 100%;
	outline: none;
	border-radius: 50%;
	margin: 0 auto;
}

.discover-people .discover-people-item .people-name {
	font-weight: 500;
	text-align: center;
	max-width: 100px;
	margin: 0 auto;
}

.discover-service-wrapper {

}

.discover-service-wrapper .discover-service-wrapper-item-block {
	height: 2vh;
	padding-top: 100%; /* 1:1 Aspect Ratio */
	position: relative;
}

.discover-service-wrapper .slick-slide {
	padding: 0 10px;
}

.discover-service-wrapper .discover-service-item {
	border-radius: 15px;
	padding: 0 8px;
	background: radial-gradient(50% 743.88% at 50% 50%, #4D4D4D 0%, #000000 100%);
	border: 1px solid #2F2F2F;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.discover-service-wrapper .discover-service-item .discover-service-item-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 10px 0 10px;
}

.discover-service-wrapper .discover-service-item .discover-service-item-header .discover-service-item-header-logo {
	margin-right: 10px;
	width: 15vw;
}

.discover-service-wrapper .discover-service-item .discover-service-item-header .discover-service-item-header-logo img {
	width: 100%;
	border-radius: 50%;
}

.discover-service-wrapper .discover-service-item .discover-service-item-header .discover-service-item-header-name {
	font-weight: 500;
	width: 100px;
	margin: 0 auto;
	text-align: center;
}

.discover-service-wrapper .discover-service-item .discover-service-item-description {
	font-weight: 500;
	text-align: center;
}

.discover-service-wrapper .discover-service-item .discover-service-item-footer {
	margin-bottom: 2px;
	font-weight: 300;
	font-size: 5vw;
	display: flex;
	color: #ddd;
	justify-content: center;
}

.discover-service-wrapper .discover-service-item .discover-service-item-footer .discover-service-item-price {
	color: #7FFF00;
	margin-right: 10px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.navigation {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}

/* HELPER */
	.mb-10 {
		margin-bottom: 10px;
	}
	.show-in-big-device {
		display: none;
	}
	.no-selected {
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none;   /* Chrome/Safari/Opera */
		-khtml-user-select: none;    /* Konqueror */
		-moz-user-select: none;      /* Firefox */
		-ms-user-select: none;       /* Internet Explorer/Edge */
		user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
	}
/* END HELPER */

/* MEDIA */
@media (max-width: 875px) {
	/*.discover-service-wrapper .discover-service-wrapper-item-block {*/
	/*	height: 2vh;*/
	/*	padding-top: 100%; !* 1:1 Aspect Ratio *!*/
	/*	position: relative;*/
	/*}*/

	/*.discover-service-wrapper .discover-service-item {*/
	/*	position: absolute;*/
	/*	top: 0;*/
	/*	left: 0;*/
	/*	bottom: 0;*/
	/*	right: 0;*/
	/*}*/
}

/*@media (max-width: 398px) {*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-description,*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-header .discover-service-item-header-name {*/
/*		 font-size: 16px;*/
/*	}*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-footer {*/
/*		font-size: 20px;*/
/*	}*/
/*}*/

/*@media (max-width: 360px) {*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-footer {*/
/*		font-size: 18px;*/
/*	}*/
/*}*/

/*@media (max-width: 335px) {*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-description,*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-header .discover-service-item-header-name {*/
/*		font-size: 14px;*/
/*	}*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-footer {*/
/*		font-size: 18px;*/
/*	}*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-footer {*/
/*		font-size: 15px;*/
/*	}*/
/*}*/

/*@media (max-height: 525px) {*/
/*	.discover-sub-title {*/
/*		font-size: 16px;*/
/*	}*/
/*	.discover-people {*/
/*		margin: 10px 0 5px 0;*/
/*	}*/
/*	.discover-people .discover-people-item .people-logo {*/
/*		width: 60px;*/
/*		height: 60px;*/
/*	}*/
/*	.discover-people .discover-people-item .people-name {*/
/*		font-size: 16px;*/
/*	}*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-description, .discover-service-wrapper .discover-service-item .discover-service-item-header .discover-service-item-header-name {*/
/*		font-size: 14px;*/
/*	}*/
/*	.discover-service-wrapper .discover-service-item .discover-service-item-footer {*/
/*		font-size: 18px;*/
/*	}*/
/*	.footer .navigation li a img {*/
/*		width: 55px;*/
/*		height: 55px;*/
/*	}*/
/*}*/

@media (max-height: 445px) {
	/*.discover-service-wrapper .discover-service-wrapper-item-block {*/
	/*	height: 33vh;*/
	/*	padding-top: inherit; !* 1:1 Aspect Ratio *!*/
	/*	position: static;*/
	/*}*/

	/*.discover-service-wrapper .discover-service-item {*/
	/*	position: static;*/
	/*}*/
}

@media (max-height: 408px) {
	body, html {
		opacity: 0;
	}
}


@media screen and (min-aspect-ratio: 16/9) {
	.discover-service-wrapper .discover-service-wrapper-item-block {
		padding-top: 56.25%; /* 16:9 Aspect Ratio */
	}
}
@media screen and (min-aspect-ratio: 4/3) {
	.discover-service-wrapper .discover-service-wrapper-item-block {
		padding-top: 75%; /* 4:3 Aspect Ratio */
	}
}
@media screen and (min-aspect-ratio: 3/2) {
	.discover-service-wrapper .discover-service-wrapper-item-block {
		padding-top: 66.66%; /* 3:2 Aspect Ratio */
	}
}
@media screen and (min-aspect-ratio: 8/5) {
	.discover-service-wrapper .discover-service-wrapper-item-block {
		padding-top: 62.5%; /* 8:5 Aspect Ratio */
	}
}

/* END MEDIA */